@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #030712;
  font-family: "Inter", sans-serif;
  color: #9ca3af;
  font-size: 16px;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-spacing: 2px;
}

p {
  word-spacing: 1px;
}

nav h3.logo-text {
  color: #e5e7eb;
  margin: 0;
  font-size: 18px;
  word-spacing: initial;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 16px;
  max-width: 1140px;
  margin: auto;
}

nav .logo {
  height: 30px;
}

nav .menu-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav .menu-container .nav-links {
  margin-left: 5%;
}

nav .nav-link {
  color: #9ca3af;
  padding: 8px 12px;
}

nav .nav-link:hover {
  color: #e5e7eb;
}

nav .hamburger {
  display: none;
}

.hidden {
  display: none !important;
}

.hamburger-list-container .nav-link {
  display: block;
  padding: 21px;
  background-color: #212633;
}

.hamburger-list-container .nav-link:hover {
  background-color: #242b41;
}

.socials {
  background-color: #9ca3af;
  width: 42px;
  padding: 14px 0;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 1px 7px rgb(143 143 143),
    0 1px 6px rgb(42 42 42);

}

.socials::before {
  content: "";
  position: absolute;
  bottom: -50px;
  height: 50px;
  right: 0;
  z-index: -1;
  width: 24px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #9ca3af;
}

.socials::after {
  content: "";
  position: absolute;
  top: -50px;
  height: 50px;
  right: 0px;
  z-index: -1;
  width: 24px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #9ca3af;
  transform: rotate(180deg);
}

.socials img {
  width: 24px;
}

.row {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.main-section {
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-content-wrap {
  max-width: 750px;
}

.section-content-wrap p {
  margin-top: 0;
  margin-bottom: 25px;
}

.headshot {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  ;
}

.introduction-text {
  margin-left: 7%;
}

.introduction-text h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  color: #e5e7eb;
}

.introduction-text p {
  max-width: 520px;
}

@media (max-width: 768px) {
  .main-section {
    flex-wrap: wrap;
  }

  .introduction-text {
    margin-left: 1%;
  }
}

.arrow {
  border: solid #e5e7eb;
  border-width: 0 2px 2px 0;
  padding: 4px;
  display: inline-block;
  transform: rotate(45deg);
}

.project-cards {
  display: flex;
  max-width: 750px;
  flex-wrap: wrap;
}

.project-card {
  flex-basis: 335px;
  margin-bottom: 35px;
}

.project-card:nth-child(odd) {
  margin-right: 50px;
}

.project-card .title {
  font-size: 16px;
  font-weight: 600;

}

.project-card .title a {
  color: #e5e7eb;
  text-decoration: none;
}

.project-card .techstack {
  width: 100%;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.project-card .techstack span {
  position: relative;
}

.project-card .techstack span:not(:first-child) {
  padding-left: 16px;
}

.project-card .techstack span:not(:first-child):before {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  top: 6px;
  left: 6px;
  border-radius: 2px;
  background-color: #9ca3af;
}


.bounce {
  padding-left: 4px;
  animation: bounce 3s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 600px) {
  nav .nav-container {
    padding: 15px;
  }

  nav .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    color: #9ca3af;
    font-size: 20px;
    position: relative;
    top: -2px;
  }

  .menu-container .nav-links {
    display: none;
  }

  nav h3.logo-text {
    font-size: 14px;
  }
}